body{
    background-color: #FFFDF8;
    margin: 0px; 
    font-family: "Roboto", sans-serif;
}

main {
    width: 800px; 
    margin: 0 auto; 
}

/*Fonts*/
.cursiveTxt {
    font-family: "La Belle Aurore", cursive;
    font-size: 2em;
}

/*För bilder*/

#logoWrapper {
    width:200px; 
    height: auto;
    padding:1%;  
} 

#heroImgWrapper {
    width: 99vw; 
    height: auto;
    opacity: 50%; 
    position: absolute;
    top: 0; 
    z-index: -1;
}

#heroImgWrapper img {
    width: 100%; 
    height: auto;
}

/*få logga och nav i mitten*/
nav {
    width: 100%; 
    position: absolute;
    z-index: 99;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    font-family: "La Belle Aurore", cursive;
}

nav ul img {
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 1em; 
}

nav a {
    color: black; 
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

nav a:hover {
    color: rgb(80, 80, 80)
}

.active {
    text-decoration: underline;
}
/*För menyn (mat)*/
#menuDiv {
    text-align: center; 
    font-size: 1.25em; 
} 

#blobWrapper {
    width: 300px; 
    height: auto; 
    position: relative;
    display: inline-block;
}

#blobWrapper img {
    display: block;
    width: 100%; 
    height: auto; 
}

#blobText {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center; 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 3em;
    white-space: nowrap;
} 

/*Om sidan*/
#aboutTxt {
    font-size: 1.25em;
    max-width: 34em; 
    margin: 0 auto; 
    line-height: 1.5em;
} 

/*Logga in sidan*/
form {
    width: 90%;  
    margin: 0 auto;
}

label {
    font-weight: bold;
    font-size: 1.25em; 
} 

input {
    margin:1.5%;
    width:80%; 
    padding:1em; 
    border-radius: 5px;
    box-shadow: 5px 5px 2px 1px #dadada;
    background-color: transparent;
} 

#errorDivLogin {
    color:rgb(200, 0, 0); 
    margin-left: 5%;  
    font-weight: bold;
    font-size: 1.25em;
} 

/*admin sidan*/
#menuListAdmin {
    max-width: 36em; 
    margin: 0 auto; 
    font-size: 1.25em;
}

#updateMenuHeader {
    margin-top: 8%; 
}

/*Knappar*/
button {
    background-color: transparent;
    border: solid 2px #000000; 
    padding: 1%; 
    border-radius: 4px;
    font-family: "La Belle Aurore", cursive;
    font-size: 1.25em;
    font-weight: bold; 
    cursor: pointer;
    margin: 1.5%;
} 

button:hover {
    background-color: #009B79;
}

#deleteBtn:hover {
    background-color: rgb(200, 0, 0);
    color:#FFFDF8; 
}


/*footer*/

#footerImgWrapper {
    width:99vw; 
    height: auto; 
    position: relative;
    display: inline-block;
    bottom: 0; 
} 

#footerImgWrapper img {
    display: block;
    width: 100%; 
    height: auto;
}

#footerTxt1 {
    position: absolute; 
    top: 60%; 
    left: 80%;
    transform: translate(-50%, -50%);
    text-align:center; 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5em;
    color: white; 
} 

#footerTxt2 {
    position: absolute; 
    top: 60%; 
    right: 60%;
    transform: translate(-50%, -50%);
    text-align:center; 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

#footerTxt2 img {
    width: 40px; 
    height: 40px; 
}