body{
    background-color: #FFFDF8;
    margin: 0px; 
}

main {
    width: 950px; 
    margin: 0 auto; 
}

/*För bilder*/

#logoWrapper {
    width:200px; 
    height: auto;
    padding:1%;  
}

/*få logga och nav i mitten*/
nav {
    width: 100%; 
    position: absolute;
    z-index: 99;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center
}

nav ul img {
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 1em; 
}

nav a {
    color: black; 
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

nav a:hover {
    color: rgb(80, 80, 80)
}

.active {
    text-decoration: underline;
}
/*För menyn (mat)*/
#menuDiv {
    text-align: center;
} 

/*footer*/
footer {
    width: 100%; 
    position: absolute; 
    z-index: 100; 
    bottom: 0; 
    text-align: center;
    color: white; 
    font-size: 1.5em; 
}